<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>

      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
          Manage
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Save data</button>
          <button ngbDropdownItem>Fetch data</button>
        </div>
      </div>
    </div>
  </div>
</nav>
