<div class="row">
  <div class="col">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="recipeForm.invalid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger ml-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img
            [src]="this.recipeForm.value.imagePath"
            alt=""
            class="img-fluid mb-2"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" formArrayName="ingredients">
          <div
            class="row mb-2"
            *ngFor="
              let ingredientCtrl of recipeForm.controls.ingredients?.value;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-2">
              <input
                type="text"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                Delete
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-success mb-3"
                (click)="addIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
